@charset "UTF-8";
#hyou{
border:2px solid lightcoral;
border-collapse:collapse;
}

th{
    border:2px solid lightcoral;
    background-color:#77ff77;
    padding:5px;
    width:50;
    text-align:center;
}
td{
    border:2px solid lightcoral;
    background-color:#7777ff;
    padding:5px;
    width:50;
    text-align:center;
}
