@charset "UTF-8";
body{
    background-color:gray;
}
#hyou{
border:2px solid lightcoral;
border-collapse:collapse;
}

th{
    border:2px solid lightcoral;
    background-color:#77ff77;
    padding:5px;
    width:50;
    text-align:center;
}
td{
    border:2px solid lightcoral;
    background-color:#44ffff;
    padding:5px;
    width:50;
    text-align:center;
}
